body {
	background-color: #0e1525;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.image {
	width: 370px;
	margin-top: 50px;
	margin-left: 50px;
	align-self: flex-start;
}

@media (max-width: 959px) {
	.container {
		margin: 0 10%;
	}
	.image {
		width: 100%;
		align-self: center;
		margin-left: 10px;
	}
}
