body {
	background-color: #0e1525;
}

.header {
	display: flex;
	align-items: center;
}

.headerText {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	margin-left: 10px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.image {
	width: 170px;
	margin-top: 50px;
	margin-left: 50px;
	align-self: flex-start;
}

h1 {
	color: whitesmoke;
}

h3 {
	color: #aab0be;
}

@media (max-width: 959px) {
	.container {
		margin: 0 10%;
	}
	.image {
		width: 30%;
		align-self: center;
		margin-left: 10px;
	}
}

@media (max-width: 470px) {
	.header {
		flex-direction: column;
	}

	.headerText {
		margin-top: 10px;
	}

	h1 {
		font-size: 2em;
	}
}

@media (max-width: 390px) {
	h1 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1em;
	}
}
